@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
   
    
    
}



body {
    background: url('image10.jpeg') no-repeat center center fixed;
    background-size: cover;
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0;

} 

header {
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    padding: 40px 100px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    z-index: 100px;
    
  
}

.name{
    font-size: 2en;
    color: white;
    text-decoration: none;
    font-weight:600;
    cursor: default;
    
}



.navigation a{
    text-decoration:none;
    color: white;
    padding: 6px 15px;
    border-radius: 20px ;
    margin: 0 10px;
    font-weight: 600;
    transition: all ease .50s;
}

.navigation a:hover,
.navigation a.active {
    background: rgba(236, 12, 158, 0.624);
    color: white

}

/* Style the header */



#text{
    position:absolute;
    font-size: 5em;
    text-shadow: 2px 2px 4px beige;

}

.home{
    position: relative; 
    width: 100%;
    height: 100vh ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;

}

.home_content{
    max-width: 600px;
}
.home_content h3{
    font-size: 35px;
    font-weight:700;
}
.home_content h3::nth-of-type(2){
    margin-bottom: 30px;
}
.home_content h1{
    font-size: 56px;
    font-weight: 700;
    margin :-3px 0;
}
.home_content p{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;

}
.home_content p span{
    color: rgb(236, 12, 158);
    font-weight: 700;
    
}

.btn{
    text-decoration: none;
    display: inline-block;
    padding: 12px 28px;
    background-color: rgba(236, 12, 158, 0.728);
    border-radius: 40px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.312);
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 600;

}
.btn:hover{
    transform: translateY(-5px);
    background: transparent;
    color:var(--main-color)
}
/* 
iframe {
    width: 62%;
    margin-right:0%;
    margin-top: 15%;
    position: absolute;

    z-index: 2;
    top: 2;
    
} */
/*responsive when size of screen is change*/
@media(max-width: 950px){
    .share{
        display: none;
    }
    section{
        padding: 70px 4%;
    }
    /* header changes background color */
    header{
        padding: 11px 4%;
        background: #32238879


    }
}


.about{
    display: flex;
    align-items: center;
    position: relative;
    background-image: linear-gradient(rgb(36,16,75),rgb(73,25,133));
    align-items: center;
    padding: 70px 10% 0;
    height: 100vh;
    width: auto;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
    
   
    
}

.about_content h2{
    font-size: 3em;
    color:white;

    margin-bottom: 25px;
    position: relative;

}
.about_content h2::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: rgba(236, 12, 158, 0.728);
}
.about_content p{
    font-size: medium;
}

.about_content h3{
    margin-top: 40px;
    font-size: 25px;
    color: white;

    
    
    
    
}


.skills{
    position: absolute;
    bottom: 10rem;
    left:15%;
    display:flex;
    align-items: center;
    
}

.skills a{
    text-decoration: none;
    text-align: center;
    

}

.skills i{
    display:inherit;
    align-items:center;
    justify-content: center;
    height: 100px;
    width: 100px;
    font-size:500%;
    background: rgba(236, 12, 158, 0.624);
    box-shadow: 1px 5px 10px rgba(189, 189, 189, 0.708);
    border: 1px solid rgba(1, 4, 32, 0.728);
    border-radius: 50%;
    color: white;
    font-weight: 20px;
    margin: 10px 30px;
    transition: all 0.6s ease-in-out;

    
}

.skills i:hover{
    transform: scale(1.2);
}

.heading{
    font-size: 56px;
    font-weight: 700;
    margin :-3px 0;
}

.projects{
    //background: url('image10.jpeg') 
}

.projects h2{
    margin-bottom: 4rem;
}

.projects_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.projects_container .project-box {
position: relative;
border-radius: 2rem;
box-shadow:  0 0 1rem whitesmoke;
overflow: hidden;
display: flex;
}

.project-box img{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    transition: 0.5s ease;
}

.project-box:hover img{
    transform: scale(1.1);

}

.project-box .project-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0, .1), rgb(26,103,190));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;


}

.project-box:hover .project-layer{
    transform: translateY(0);
}

.project-layer h4 {
    font-size: 3rem;
}

.project-layer p{
    font-size: 1.6rem;
    margin:  .3rem 0 1rem;
}

.project-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: white;
    border-radius: 50%;

}

.project-layer a i{
    font-size: 2rem;
    color: blue ;

}



/* Add media queries for different screen sizes */
@media (max-width: 768px) {
    .project-layer h4 {
        font-size: 2.5rem;
    }

    .project-layer p {
        font-size: 1.4rem;
    }
}

@media (max-width: 480px) {
    .project-layer h4 {
        font-size: 2rem;
    }

    .project-layer p {
        font-size: 1.2rem;
    }
}

/* Increase the font size of the h1 element */